reference
backend/node_modules

--- BEGIN SQUARETEST LICENSE ---
Andy Luitel
Single User License
SQT1-101d8025-83ad-44ce-b8d5-c88e178dad90
MEUCIB3an1yBEEp+VBfh1bRxtt5KJXXbgDItjn6KGgiWwepSAiEAu4hbFvV7hxuxXQlY15mHmduhv/vd4ru6QTaKpLnSNpc=
--- END SQUARETEST LICENSE ---
